/data/db/*
/data/publication-triplestore/*
/data/files/*
/data/files/*
/data/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*

docker-compose.override.yml
Makefile
prepare.sh
/commands
/.vscode
Caddyfile