# Virtuoso files /data/db
/data/db/*
/data/files/*
/data/publication-triplestore/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
!/data/publication-triplestore/virtuoso.ini
!/data/publication-triplestore/toLoad
!/data/publication-triplestore/toLoad/*

docker-compose.override.yml
Makefile
prepare.sh
Caddyfile
/commands
/.vscode
/config/migrations/local/*
.env
